<ion-view style="" id="page3" title="Cart Tab Default Page">
  <ion-content class="has-header" padding="true">
    <ion-list id="cartTabDefaultPage-list1">
      <ion-item id="cartTabDefaultPage-list-item-divider1" class="item-divider"> Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>
            <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>
            <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>
            <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>      <ion-item style="" id="cartTabDefaultPage-list-item1">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item2">Item</ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item3" class="item-avatar">
        <h2>Item</h2>
      </ion-item>
      <ion-item style="" id="cartTabDefaultPage-list-item4" class="item-avatar">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>