<ion-view style="" id="page4" title="Cloud Tab Default Page">
  <ion-content class="has-header" padding="true">
    <form class="list" id="cloudTabDefaultPage-form3">
      <label id="cloudTabDefaultPage-input3" class="item item-input">
        <span class="input-label">Input</span>
        <input placeholder="" type="text">
      </label>
    </form>
    <div id="cloudTabDefaultPage-container1">
      <div class="show-list-numbers-and-dots" id="cloudTabDefaultPage-markdown1">
        <p style="color:#000000;">Some friendly
          <strong>markdown</strong>
        </p>
      </div>
    </div>
    <div class="button-bar" id="cloudTabDefaultPage-button-bar1">
      <button class="button button-positive  button-block" id="cloudTabDefaultPage-button8">1</button>
      <button class="button button-positive  button-block" id="cloudTabDefaultPage-button9">2</button>
      <button class="button button-positive  button-block" id="cloudTabDefaultPage-button10">3</button>
    </div>
    <button class="button button-positive button-large button-block button-outline" style="font-weight:300;" id="cloudTabDefaultPage-button11">Tap me!</button>
    <ion-list id="cloudTabDefaultPage-list2">
      <ion-item style="" id="cloudTabDefaultPage-list-item8">Item 1</ion-item>
      <ion-item style="" id="cloudTabDefaultPage-list-item9">Item 2</ion-item>
      <ion-item style="" id="cloudTabDefaultPage-list-item10">Item 3</ion-item>
      <ion-item style="" id="cloudTabDefaultPage-list-item11" class="item-icon-left">
        <i class="icon ion-ionic"></i>Item</ion-item>
      <ion-item style="" id="cloudTabDefaultPage-list-item12" class="item-icon-left">
        <i class="icon ion-ionic"></i>Item</ion-item>
    </ion-list>
    <div id="cloudTabDefaultPage-card21" class="list card">
      <ion-item style="" id="cloudTabDefaultPage-list-item15" class="item-avatar">
        <h2>Item</h2>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
      </div>
      <div style="" id="cloudTabDefaultPage-list-item-container2" class="item item-body">
        <div class="show-list-numbers-and-dots" id="cloudTabDefaultPage-markdown3">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item style="" id="cloudTabDefaultPage-list-item16" class="item-icon-left assertive">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
  </ion-content>
</ion-view>